Import libraries

In [1]:
import numpy as np
import pandas as pd

Import the data file

In [5]:
import pandas as pd

# Try different encodings until the file is read successfully
encodings = ['latin-1', 'cp1252']  # Examples, replace with likely encodings for your data
for encoding in encodings:
  try:
    df = pd.read_csv("E://Studies//DS&B//DATA//final.csv", encoding=encoding)
    break  # If successful, break out of the loop
  except UnicodeDecodeError:
    pass  # If there's an error, continue trying other encodings

# Handle cases where no encoding works (add checks or error handling here)
if 'df' not in locals():
  print("Couldn't find a suitable encoding for the file.")

Data Information

In [8]:
df.shape

(1819, 47)

In [10]:
df.describe()

,RefPeriodId,RefYear,RefMonth,Period,ReporterCode,PartnerCode,Partner2Code,CmdCode,AggrLevel,MosCode,...,QtyUnitCode,Qty,AltQtyUnitCode,AltQty,NetWgt,GrossWgt,Cifvalue,Fobvalue,PrimaryValue,LegacyEstimationFlag
count,1.819000e+03,1819.000000,1819.000000,1819.000000,1819.000000,1819.000000,1819.0,1819.000000,1819.000000,1819.0,...,1819.000000,1819.000000,1819.000000,1819.000000,1692.000000,1789.0,1046.0,1.819000e+03,1.819000e+03,1819.000000
mean,2.020407e+07,2020.341946,7.373282,198747.422760,791.939527,507.269379,0.0,378883.565146,5.056625,0.0,...,3.566795,2236.874449,9.553051,4916.579839,2866.233785,0.0,0.0,1.220184e+08,1.220184e+08,0.801539
std,1.880385e+04,1.878210,6.725219,25483.411566,58.722321,331.683236,0.0,351384.178254,0.998670,0.0,...,4.500742,11724.283626,5.419865,31647.462217,11969.281321,0.0,0.0,1.998591e+08,1.998591e+08,2.041828
min,2.017010e+07,2017.000000,1.000000,2017.000000,710.000000,0.000000,0.0,7108.000000,4.000000,0.0,...,-1.000000,0.000000,-1.000000,0.000000,0.000000,0.0,0.0,5.250000e-01,5.250000e-01,0.000000
25%,2.019040e+07,2019.000000,4.000000,201904.000000,710.000000,108.000000,0.0,7108.000000,4.000000,0.0,...,-1.000000,0.000000,8.000000,1.010000,0.940000,0.0,0.0,1.318845e+04,1.318845e+04,0.000000
50%,2.020110e+07,2020.000000,7.000000,202011.000000,834.000000,699.000000,0.0,710811.000000,6.000000,0.0,...,8.000000,0.000000,8.000000,143.120000,225.675000,0.0,0.0,9.041376e+06,9.041376e+06,0.000000
75%,2.022070e+07,2022.000000,10.000000,202207.000000,834.000000,784.000000,0.0,710812.000000,6.000000,0.0,...,8.000000,142.970000,15.000000,2373.410000,2179.460000,0.0,0.0,1.357714e+08,1.357714e+08,0.000000
max,2.023120e+07,2023.000000,52.000000,202312.000000,834.000000,899.000000,0.0,710813.000000,6.000000,0.0,...,8.000000,235794.000000,15.000000,498203.450000,235794.000000,0.0,0.0,1.538874e+09,1.538874e+09,6.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1819 entries, 0 to 1818
Data columns (total 47 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   TypeCode                  1819 non-null   object
 1   FreqCode                  1819 non-null   object
 2   RefPeriodId               1819 non-null   int64
 3   RefYear                   1819 non-null   int64
 4   RefMonth                  1819 non-null   int64
 5   Period                    1819 non-null   int64
 6   ReporterCode              1819 non-null   int64
 7   ReporterISO               1819 non-null   object
 8   ReporterDesc              1819 non-null   object
 9   FlowCode                  1819 non-null   object
 10  FlowDesc                  1819 non-null   object
 11  PartnerCode               1819 non-null   int64
 12  PartnerISO                1819 non-null   object
 13  PartnerDesc               1819 non-null   object
 14  Partner2Code              1819 non-null   int64
 15  Partner2ISO               1819 non-null   object
 16  Partner2Desc              1819 non-null   object
 17  ClassificationCode        1819 non-null   object
 18  ClassificationSearchCode  1819 non-null   object
 19  IsOriginalClassification  1819 non-null   bool
 20  CmdCode                   1819 non-null   int64
 21  CmdDesc                   1819 non-null   object
 22  AggrLevel                 1819 non-null   int64
 23  IsLeaf                    1819 non-null   bool
 24  CustomsCode               1819 non-null   object
 25  CustomsDesc               1819 non-null   object
 26  MosCode                   1819 non-null   int64
 27  MotCode                   1819 non-null   int64
 28  MotDesc                   1819 non-null   object
 29  QtyUnitCode               1819 non-null   int64
 30  QtyUnitAbbr               923 non-null    object
 31  Qty                       1819 non-null   float64
 32  IsQtyEstimated            1819 non-null   bool
 33  AltQtyUnitCode            1819 non-null   int64
 34  AltQtyUnitAbbr            1555 non-null   object
 35  AltQty                    1819 non-null   float64
 36  IsAltQtyEstimated         1819 non-null   bool
 37  NetWgt                    1692 non-null   float64
 38  IsNetWgtEstimated         1819 non-null   bool
 39  GrossWgt                  1789 non-null   float64
 40  IsGrossWgtEstimated       1819 non-null   bool
 41  Cifvalue                  1046 non-null   float64
 42  Fobvalue                  1819 non-null   float64
 43  PrimaryValue              1819 non-null   float64
 44  LegacyEstimationFlag      1819 non-null   int64
 45  IsReported                1819 non-null   bool
 46  IsAggregate               1819 non-null   bool
dtypes: bool(8), float64(7), int64(14), object(18)
memory usage: 568.6+ KB

Removing unnecessary Columns

In [13]:
newdf = df[df['QtyUnitCode'] != -1]
newdf.head()

,TypeCode,FreqCode,RefPeriodId,RefYear,RefMonth,Period,ReporterCode,ReporterISO,ReporterDesc,FlowCode,...,NetWgt,IsNetWgtEstimated,GrossWgt,IsGrossWgtEstimated,Cifvalue,Fobvalue,PrimaryValue,LegacyEstimationFlag,IsReported,IsAggregate
2,C,M,20170101,2017,1,201701,710,ZAF,South Africa,X,...,8819.51,False,0.0,False,0.0,3.147315e+08,3.147315e+08,0,False,True
5,C,M,20170101,2017,1,201701,710,ZAF,South Africa,X,...,8820.51,False,0.0,False,0.0,3.147392e+08,3.147392e+08,0,False,True
6,C,M,20170101,2017,1,201701,710,ZAF,South Africa,X,...,1.00,False,0.0,False,0.0,7.607077e+03,7.607077e+03,0,False,True
7,C,M,20170101,2017,1,201701,710,ZAF,South Africa,X,...,8819.51,False,0.0,False,0.0,3.147315e+08,3.147315e+08,0,False,True
11,C,M,20170201,2017,2,201702,710,ZAF,South Africa,X,...,6110.60,False,0.0,False,0.0,2.112783e+08,2.112783e+08,0,False,True

In [19]:
trudf = newdf.drop(columns=[
    'TypeCode', 'FreqCode', 'RefMonth', 'Period', 'ReporterCode', 'ReporterISO',
    'FlowCode', 'FlowDesc', 'PartnerCode', 'PartnerISO', 'Partner2Code', 'Partner2ISO',
    'ClassificationCode', 'ClassificationSearchCode', 'CmdDesc', 'CustomsCode',
    'CustomsDesc', 'MosCode', 'MotCode', 'MotDesc', 'NetWgt', 'IsNetWgtEstimated',
    'GrossWgt', 'IsGrossWgtEstimated', 'Cifvalue', 'Fobvalue', 'LegacyEstimationFlag',
    'IsOriginalClassification'
])

trudf

,RefPeriodId,RefYear,ReporterDesc,PartnerDesc,Partner2Desc,CmdCode,AggrLevel,IsLeaf,QtyUnitCode,QtyUnitAbbr,Qty,IsQtyEstimated,AltQtyUnitCode,AltQtyUnitAbbr,AltQty,IsAltQtyEstimated,PrimaryValue,IsReported,IsAggregate
2,20170101,2017,South Africa,"Areas, nes",World,7108,4,False,8,kg,8819.510,False,8,kg,8819.51,False,3.147315e+08,False,True
5,20170101,2017,South Africa,World,World,710813,6,True,8,kg,8820.510,False,8,kg,8820.51,False,3.147392e+08,False,True
6,20170101,2017,South Africa,Namibia,World,710813,6,True,8,kg,1.000,False,8,kg,1.00,False,7.607077e+03,False,True
7,20170101,2017,South Africa,"Areas, nes",World,710813,6,True,8,kg,8819.510,False,8,kg,8819.51,False,3.147315e+08,False,True
11,20170201,2017,South Africa,"Areas, nes",World,7108,4,False,8,kg,6110.600,False,8,kg,6110.60,False,2.112783e+08,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1775,20231001,2023,United Rep. of Tanzania,United Arab Emirates,World,7108,4,False,8,kg,1500.088,False,15,g,2209.39,False,8.422287e+07,False,True
1780,20231001,2023,United Rep. of Tanzania,Switzerland,World,710812,6,True,8,kg,624.015,False,15,g,1927.71,False,1.820583e+07,False,True
1781,20231001,2023,United Rep. of Tanzania,United Arab Emirates,World,710812,6,True,8,kg,1259.208,False,15,g,1968.51,False,6.989038e+07,False,True
1791,20231101,2023,United Rep. of Tanzania,United Arab Emirates,World,7108,4,False,8,kg,944.942,False,15,g,1056.84,False,5.461980e+07,False,True
1799,20231101,2023,United Rep. of Tanzania,United Arab Emirates,World,710812,6,True,8,kg,831.442,False,15,g,943.34,False,4.736251e+07,False,True